.card {
  height: max-content;
  padding: 1rem;
  border-radius: var(--radius-lg);
  background-color: var(--primary-bg);
}

.header {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-bottom: 1.5rem;
}

.name {
  display: block;
  color: var(--gray-5);
}

.hr {
  margin-top: 0.75rem;
  margin-bottom: 0.75rem;
}

.info {
  min-height: 10rem;
  display: flex;
  flex-direction: column;
  gap: 0.625rem;
}

.info-line {
  display: flex;
  align-items: center;
  gap: 0.25rem;
}

.empty-message-item {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.empty-message {
  color: var(--gray-4);
}
