.container {
  position: relative;
}

.checkbox {
  display: block;
  position: relative;
  width: 1rem;
  height: 1rem;
  border: 1px solid var(--foreground);
  border-radius: var(--radius);
}

.checkbox:checked {
  background-color: var(--foreground);
  border-color: var(--foreground);
}

.checkbox:disabled {
  border-color: var(--muted);
}

.icon {
  pointer-events: none;
  color: var(--black);
  position: absolute;
  top: 0.0625rem;
  left: 0.0625rem;
  width: 0.875rem;
  height: 0.875rem;
}
